.table {
    border-collapse: collapse;

    width: 100%;

    &__th {
        padding: 14px 25px;

        font-size: 12px;
        font-weight: 500;
        color: #667085;
        text-align: left;

        background-color: #f9fafb;
        border-bottom: 1px solid #eaecf0;
    }

    &__td {
        height: 60px;
        padding: 15px 25px;

        background-color: #fff;
        border-bottom: 1px solid #eaecf0;
    }

    &__title {
        font-weight: 600;
        margin-bottom: 20px ;
    }

}
