* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: rgba(57, 57, 232, 0.5);

    color: #fff;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 50px ;
}


.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.wrapper > * {
    width: 50%;
    padding: 20px;
}